.azureml/config.json
data/test/IMG_0365.JPG
data/test/IMG_0410.JPG
data/test/IMG_0415.JPG
data/test/IMG_0418.JPG
data/test/IMG_0422.JPG
data/test/IMG_0430.JPG
data/test/IMG_1558.JPG
data/test/IMG_1566.JPG
data/test/IMG_1578.JPG
data/test/IMG_1579.JPG
data/test/IMG_1592.JPG
data/test/IMG_1608.JPG
data/test/IMG_1615.JPG
data/test/IMG_1620.JPG
data/test/IMG_1655.JPG
data/test/IMG_1675.JPG
data/test/IMG_1712.JPG
data/test/IMG_1853.JPG
data/test/IMG_1858.JPG
data/test/IMG_1862.JPG
data/train/Bart-Simpson/IMG_1652.JPG
data/train/Bart-Simpson/IMG_1653.JPG
data/train/Bart-Simpson/IMG_1654.JPG
data/train/Bart-Simpson/IMG_1656.JPG
data/train/Bart-Simpson/IMG_1657.JPG
data/train/Bart-Simpson/IMG_1658.JPG
data/train/Bart-Simpson/IMG_1659.JPG
data/train/Bart-Simpson/IMG_1660.JPG
data/train/Bart-Simpson/IMG_1661.JPG
data/train/Bart-Simpson/IMG_1662.JPG
data/train/Bart-Simpson/IMG_1663.JPG
data/train/Bart-Simpson/IMG_1664.JPG
data/train/Bart-Simpson/IMG_1666.JPG
data/train/Bart-Simpson/IMG_1667.JPG
data/train/Bart-Simpson/IMG_1668.JPG
data/train/Bart-Simpson/IMG_1670.JPG
data/train/Bart-Simpson/IMG_1672.JPG
data/train/Bart-Simpson/IMG_1673.JPG
data/train/Bart-Simpson/IMG_1674.JPG
data/train/Bart-Simpson/IMG_1676.JPG
data/train/Bart-Simpson/IMG_1677.JPG
data/train/Bart-Simpson/IMG_1678.JPG
data/train/Bart-Simpson/IMG_1679.JPG
data/train/Bart-Simpson/IMG_1680.JPG
data/train/Bart-Simpson/IMG_1681.JPG
data/train/Bart-Simpson/IMG_1683.JPG
data/train/Bart-Simpson/IMG_1684.JPG
data/train/Bart-Simpson/IMG_1685.JPG
data/train/Bart-Simpson/IMG_1686.JPG
data/train/Bart-Simpson/IMG_1687.JPG
data/train/Bart-Simpson/IMG_1689.JPG
data/train/Bart-Simpson/IMG_1690.JPG
data/train/Bart-Simpson/IMG_1691.JPG
data/train/Bart-Simpson/IMG_1693.JPG
data/train/Bart-Simpson/IMG_1694.JPG
data/train/Bart-Simpson/IMG_1695.JPG
data/train/Bart-Simpson/IMG_1696.JPG
data/train/Bart-Simpson/IMG_1698.JPG
data/train/Bart-Simpson/IMG_1699.JPG
data/train/Bart-Simpson/IMG_1701.JPG
data/train/Chief-Wiggum/IMG_1708.JPG
data/train/Chief-Wiggum/IMG_1710.JPG
data/train/Chief-Wiggum/IMG_1711.JPG
data/train/Chief-Wiggum/IMG_1713.JPG
data/train/Chief-Wiggum/IMG_1714.JPG
data/train/Chief-Wiggum/IMG_1715.JPG
data/train/Chief-Wiggum/IMG_1716.JPG
data/train/Chief-Wiggum/IMG_1718.JPG
data/train/Chief-Wiggum/IMG_1719.JPG
data/train/Chief-Wiggum/IMG_1720.JPG
data/train/Chief-Wiggum/IMG_1722.JPG
data/train/Chief-Wiggum/IMG_1723.JPG
data/train/Chief-Wiggum/IMG_1725.JPG
data/train/Chief-Wiggum/IMG_1726.JPG
data/train/Chief-Wiggum/IMG_1727.JPG
data/train/Chief-Wiggum/IMG_1728.JPG
data/train/Chief-Wiggum/IMG_1729.JPG
data/train/Chief-Wiggum/IMG_1731.JPG
data/train/Chief-Wiggum/IMG_1732.JPG
data/train/Chief-Wiggum/IMG_1733.JPG
data/train/Chief-Wiggum/IMG_1734.JPG
data/train/Chief-Wiggum/IMG_1735.JPG
data/train/Chief-Wiggum/IMG_1736.JPG
data/train/Chief-Wiggum/IMG_1738.JPG
data/train/Chief-Wiggum/IMG_1739.JPG
data/train/Chief-Wiggum/IMG_1740.JPG
data/train/Chief-Wiggum/IMG_1741.JPG
data/train/Chief-Wiggum/IMG_1743.JPG
data/train/Chief-Wiggum/IMG_1744.JPG
data/train/Chief-Wiggum/IMG_1745.JPG
data/train/Chief-Wiggum/IMG_1746.JPG
data/train/Chief-Wiggum/IMG_1747.JPG
data/train/Chief-Wiggum/IMG_1748.JPG
data/train/Chief-Wiggum/IMG_1749.JPG
data/train/Chief-Wiggum/IMG_1750.JPG
data/train/Chief-Wiggum/IMG_1751.JPG
data/train/Chief-Wiggum/IMG_1752.JPG
data/train/Chief-Wiggum/IMG_1753.JPG
data/train/Chief-Wiggum/IMG_1755.JPG
data/train/Chief-Wiggum/IMG_1756.JPG
data/train/Chief-Wiggum/IMG_1758.JPG
data/train/Chief-Wiggum/IMG_1759.JPG
data/train/Chief-Wiggum/IMG_1760.JPG
data/train/Chief-Wiggum/IMG_1761.JPG
data/train/Chief-Wiggum/IMG_1762.JPG
data/train/Chief-Wiggum/IMG_1763.JPG
data/train/Chief-Wiggum/IMG_1765.JPG
data/train/Chief-Wiggum/IMG_1766.JPG
data/train/Chief-Wiggum/IMG_1767.JPG
data/train/Dr-Hibbert/IMG_1431.JPG
data/train/Dr-Hibbert/IMG_1433.JPG
data/train/Dr-Hibbert/IMG_1434.JPG
data/train/Dr-Hibbert/IMG_1436.JPG
data/train/Dr-Hibbert/IMG_1437.JPG
data/train/Dr-Hibbert/IMG_1438.JPG
data/train/Dr-Hibbert/IMG_1440.JPG
data/train/Dr-Hibbert/IMG_1441.JPG
data/train/Dr-Hibbert/IMG_1442.JPG
data/train/Dr-Hibbert/IMG_1443.JPG
data/train/Dr-Hibbert/IMG_1444.JPG
data/train/Dr-Hibbert/IMG_1445.JPG
data/train/Dr-Hibbert/IMG_1447.JPG
data/train/Dr-Hibbert/IMG_1448.JPG
data/train/Dr-Hibbert/IMG_1449.JPG
data/train/Dr-Hibbert/IMG_1450.JPG
data/train/Dr-Hibbert/IMG_1451.JPG
data/train/Dr-Hibbert/IMG_1452.JPG
data/train/Dr-Hibbert/IMG_1454.JPG
data/train/Dr-Hibbert/IMG_1455.JPG
data/train/Dr-Hibbert/IMG_1456.JPG
data/train/Dr-Hibbert/IMG_1457.JPG
data/train/Dr-Hibbert/IMG_1458.JPG
data/train/Dr-Hibbert/IMG_1460.JPG
data/train/Dr-Hibbert/IMG_1461.JPG
data/train/Dr-Hibbert/IMG_1462.JPG
data/train/Dr-Hibbert/IMG_1463.JPG
data/train/Dr-Hibbert/IMG_1465.JPG
data/train/Dr-Hibbert/IMG_1467.JPG
data/train/Dr-Hibbert/IMG_1468.JPG
data/train/Dr-Hibbert/IMG_1469.JPG
data/train/Dr-Hibbert/IMG_1470.JPG
data/train/Dr-Hibbert/IMG_1471.JPG
data/train/Dr-Hibbert/IMG_1473.JPG
data/train/Dr-Hibbert/IMG_1474.JPG
data/train/Dr-Hibbert/IMG_1475.JPG
data/train/Dr-Hibbert/IMG_1476.JPG
data/train/Dr-Hibbert/IMG_1477.JPG
data/train/Dr-Hibbert/IMG_1478.JPG
data/train/Dr-Hibbert/IMG_1480.JPG
data/train/Dr-Hibbert/IMG_1481.JPG
data/train/Dr-Hibbert/IMG_1482.JPG
data/train/Homer-Simpsons/IMG_0352.JPG
data/train/Homer-Simpsons/IMG_0354.JPG
data/train/Homer-Simpsons/IMG_0355.JPG
data/train/Homer-Simpsons/IMG_0356.JPG
data/train/Homer-Simpsons/IMG_0357.JPG
data/train/Homer-Simpsons/IMG_0358.JPG
data/train/Homer-Simpsons/IMG_0360.JPG
data/train/Homer-Simpsons/IMG_0361.JPG
data/train/Homer-Simpsons/IMG_0362.JPG
data/train/Homer-Simpsons/IMG_0363.JPG
data/train/Homer-Simpsons/IMG_0364.JPG
data/train/Homer-Simpsons/IMG_0366.JPG
data/train/Homer-Simpsons/IMG_0374.JPG
data/train/Homer-Simpsons/IMG_0375.JPG
data/train/Homer-Simpsons/IMG_0376.JPG
data/train/Homer-Simpsons/IMG_0378.JPG
data/train/Homer-Simpsons/IMG_0379.JPG
data/train/Homer-Simpsons/IMG_0380.JPG
data/train/Homer-Simpsons/IMG_0381.JPG
data/train/Homer-Simpsons/IMG_0404.JPG
data/train/Homer-Simpsons/IMG_0405.JPG
data/train/Homer-Simpsons/IMG_0406.JPG
data/train/Homer-Simpsons/IMG_0407.JPG
data/train/Homer-Simpsons/IMG_0408.JPG
data/train/Homer-Simpsons/IMG_0409.JPG
data/train/Homer-Simpsons/IMG_0411.JPG
data/train/Homer-Simpsons/IMG_0412.JPG
data/train/Homer-Simpsons/IMG_0413.JPG
data/train/Homer-Simpsons/IMG_0414.JPG
data/train/Homer-Simpsons/IMG_0415.JPG
data/train/Homer-Simpsons/IMG_0416.JPG
data/train/Homer-Simpsons/IMG_0417.JPG
data/train/Homer-Simpsons/IMG_0419.JPG
data/train/Homer-Simpsons/IMG_0420.JPG
data/train/Homer-Simpsons/IMG_0422.JPG
data/train/Homer-Simpsons/IMG_0423.JPG
data/train/Homer-Simpsons/IMG_0424.JPG
data/train/Homer-Simpsons/IMG_0426.JPG
data/train/Homer-Simpsons/IMG_0427.JPG
data/train/Homer-Simpsons/IMG_0428.JPG
data/train/Homer-Simpsons/IMG_0430.JPG
data/train/Krusty-the-Clown/IMG_1483.JPG
data/train/Krusty-the-Clown/IMG_1484.JPG
data/train/Krusty-the-Clown/IMG_1486.JPG
data/train/Krusty-the-Clown/IMG_1487.JPG
data/train/Krusty-the-Clown/IMG_1488.JPG
data/train/Krusty-the-Clown/IMG_1489.JPG
data/train/Krusty-the-Clown/IMG_1491.JPG
data/train/Krusty-the-Clown/IMG_1492.JPG
data/train/Krusty-the-Clown/IMG_1494.JPG
data/train/Krusty-the-Clown/IMG_1495.JPG
data/train/Krusty-the-Clown/IMG_1496.JPG
data/train/Krusty-the-Clown/IMG_1498.JPG
data/train/Krusty-the-Clown/IMG_1499.JPG
data/train/Krusty-the-Clown/IMG_1501.JPG
data/train/Krusty-the-Clown/IMG_1502.JPG
data/train/Krusty-the-Clown/IMG_1503.JPG
data/train/Krusty-the-Clown/IMG_1504.JPG
data/train/Krusty-the-Clown/IMG_1505.JPG
data/train/Krusty-the-Clown/IMG_1506.JPG
data/train/Krusty-the-Clown/IMG_1508.JPG
data/train/Krusty-the-Clown/IMG_1509.JPG
data/train/Krusty-the-Clown/IMG_1510.JPG
data/train/Krusty-the-Clown/IMG_1511.JPG
data/train/Krusty-the-Clown/IMG_1512.JPG
data/train/Krusty-the-Clown/IMG_1513.JPG
data/train/Krusty-the-Clown/IMG_1515.JPG
data/train/Krusty-the-Clown/IMG_1516.JPG
data/train/Krusty-the-Clown/IMG_1517.JPG
data/train/Krusty-the-Clown/IMG_1518.JPG
data/train/Krusty-the-Clown/IMG_1519.JPG
data/train/Krusty-the-Clown/IMG_1521.JPG
data/train/Krusty-the-Clown/IMG_1522.JPG
data/train/Krusty-the-Clown/IMG_1523.JPG
data/train/Krusty-the-Clown/IMG_1524.JPG
data/train/Krusty-the-Clown/IMG_1526.JPG
data/train/Krusty-the-Clown/IMG_1527.JPG
data/train/Krusty-the-Clown/IMG_1528.JPG
data/train/Krusty-the-Clown/IMG_1530.JPG
data/train/Krusty-the-Clown/IMG_1531.JPG
data/train/Krusty-the-Clown/IMG_1532.JPG
data/train/Krusty-the-Clown/IMG_1533.JPG
data/train/Krusty-the-Clown/IMG_1534.JPG
data/train/Krusty-the-Clown/IMG_1536.JPG
data/train/Krusty-the-Clown/IMG_1537.JPG
data/train/Krusty-the-Clown/IMG_1538.JPG
data/train/Lisa-Simpson/IMG_1820.JPG
data/train/Lisa-Simpson/IMG_1821.JPG
data/train/Lisa-Simpson/IMG_1823.JPG
data/train/Lisa-Simpson/IMG_1824.JPG
data/train/Lisa-Simpson/IMG_1825.JPG
data/train/Lisa-Simpson/IMG_1827.JPG
data/train/Lisa-Simpson/IMG_1828.JPG
data/train/Lisa-Simpson/IMG_1829.JPG
data/train/Lisa-Simpson/IMG_1830.JPG
data/train/Lisa-Simpson/IMG_1831.JPG
data/train/Lisa-Simpson/IMG_1832.JPG
data/train/Lisa-Simpson/IMG_1834.JPG
data/train/Lisa-Simpson/IMG_1835.JPG
data/train/Lisa-Simpson/IMG_1836.JPG
data/train/Lisa-Simpson/IMG_1837.JPG
data/train/Lisa-Simpson/IMG_1838.JPG
data/train/Lisa-Simpson/IMG_1839.JPG
data/train/Lisa-Simpson/IMG_1840.JPG
data/train/Lisa-Simpson/IMG_1841.JPG
data/train/Lisa-Simpson/IMG_1842.JPG
data/train/Lisa-Simpson/IMG_1843.JPG
data/train/Lisa-Simpson/IMG_1845.JPG
data/train/Lisa-Simpson/IMG_1846.JPG
data/train/Lisa-Simpson/IMG_1847.JPG
data/train/Lisa-Simpson/IMG_1849.JPG
data/train/Lisa-Simpson/IMG_1850.JPG
data/train/Lisa-Simpson/IMG_1852.JPG
data/train/Lisa-Simpson/IMG_1854.JPG
data/train/Lisa-Simpson/IMG_1855.JPG
data/train/Lisa-Simpson/IMG_1856.JPG
data/train/Lisa-Simpson/IMG_1857.JPG
data/train/Lisa-Simpson/IMG_1859.JPG
data/train/Lisa-Simpson/IMG_1860.JPG
data/train/Lisa-Simpson/IMG_1861.JPG
data/train/Lisa-Simpson/IMG_1863.JPG
data/train/Lisa-Simpson/IMG_1864.JPG
data/train/Lisa-Simpson/IMG_1865.JPG
data/train/Lisa-Simpson/IMG_1866.JPG
data/train/Lisa-Simpson/IMG_1867.JPG
data/train/Lisa-Simpson/IMG_1869.JPG
data/train/Lisa-Simpson/IMG_1870.JPG
data/train/Lisa-Simpson/IMG_1871.JPG
data/train/Lisa-Simpson/IMG_1872.JPG
data/train/Lisa-Simpson/IMG_1873.JPG
data/train/Lisa-Simpson/IMG_1874.JPG
data/train/Lisa-Simpson/IMG_1876.JPG
data/train/Lisa-Simpson/IMG_1877.JPG
data/train/Lisa-Simpson/IMG_1878.JPG
data/train/Lisa-Simpson/IMG_1879.JPG
data/train/Marge-Simpsons/IMG_0338.JPG
data/train/Marge-Simpsons/IMG_0340.JPG
data/train/Marge-Simpsons/IMG_0341.JPG
data/train/Marge-Simpsons/IMG_0342.JPG
data/train/Marge-Simpsons/IMG_0343.JPG
data/train/Marge-Simpsons/IMG_0344.JPG
data/train/Marge-Simpsons/IMG_0346.JPG
data/train/Marge-Simpsons/IMG_0348.JPG
data/train/Marge-Simpsons/IMG_0349.JPG
data/train/Marge-Simpsons/IMG_0350.JPG
data/train/Marge-Simpsons/IMG_0351.JPG
data/train/Marge-Simpsons/IMG_0369.JPG
data/train/Marge-Simpsons/IMG_0370.JPG
data/train/Marge-Simpsons/IMG_0371.JPG
data/train/Marge-Simpsons/IMG_0372.JPG
data/train/Marge-Simpsons/IMG_0373.JPG
data/train/Marge-Simpsons/IMG_0384.JPG
data/train/Marge-Simpsons/IMG_0385.JPG
data/train/Marge-Simpsons/IMG_0386.JPG
data/train/Marge-Simpsons/IMG_0388.JPG
data/train/Marge-Simpsons/IMG_0389.JPG
data/train/Marge-Simpsons/IMG_0390.JPG
data/train/Marge-Simpsons/IMG_0391.JPG
data/train/Marge-Simpsons/IMG_0392.JPG
data/train/Marge-Simpsons/IMG_0393.JPG
data/train/Marge-Simpsons/IMG_0394.JPG
data/train/Marge-Simpsons/IMG_0396.JPG
data/train/Marge-Simpsons/IMG_0397.JPG
data/train/Marge-Simpsons/IMG_0398.JPG
data/train/Marge-Simpsons/IMG_0399.JPG
data/train/Marge-Simpsons/IMG_0400.JPG
data/train/Marge-Simpsons/IMG_0401.JPG
data/train/Marge-Simpsons/IMG_0402.JPG
data/train/Marge-Simpsons/IMG_0434.JPG
data/train/Marge-Simpsons/IMG_0436.JPG
data/train/Marge-Simpsons/IMG_0438.JPG
data/train/Marge-Simpsons/IMG_0439.JPG
data/train/Marge-Simpsons/IMG_0440.JPG
data/train/Marge-Simpsons/IMG_0441.JPG
data/train/Marge-Simpsons/IMG_0443.JPG
data/train/Marge-Simpsons/IMG_0444.JPG
data/train/Milhouse-van-Houten/IMG_1769.JPG
data/train/Milhouse-van-Houten/IMG_1771.JPG
data/train/Milhouse-van-Houten/IMG_1772.JPG
data/train/Milhouse-van-Houten/IMG_1773.JPG
data/train/Milhouse-van-Houten/IMG_1774.JPG
data/train/Milhouse-van-Houten/IMG_1775.JPG
data/train/Milhouse-van-Houten/IMG_1777.JPG
data/train/Milhouse-van-Houten/IMG_1778.JPG
data/train/Milhouse-van-Houten/IMG_1779.JPG
data/train/Milhouse-van-Houten/IMG_1780.JPG
data/train/Milhouse-van-Houten/IMG_1781.JPG
data/train/Milhouse-van-Houten/IMG_1782.JPG
data/train/Milhouse-van-Houten/IMG_1783.JPG
data/train/Milhouse-van-Houten/IMG_1785.JPG
data/train/Milhouse-van-Houten/IMG_1786.JPG
data/train/Milhouse-van-Houten/IMG_1787.JPG
data/train/Milhouse-van-Houten/IMG_1788.JPG
data/train/Milhouse-van-Houten/IMG_1789.JPG
data/train/Milhouse-van-Houten/IMG_1790.JPG
data/train/Milhouse-van-Houten/IMG_1792.JPG
data/train/Milhouse-van-Houten/IMG_1793.JPG
data/train/Milhouse-van-Houten/IMG_1794.JPG
data/train/Milhouse-van-Houten/IMG_1795.JPG
data/train/Milhouse-van-Houten/IMG_1796.JPG
data/train/Milhouse-van-Houten/IMG_1798.JPG
data/train/Milhouse-van-Houten/IMG_1799.JPG
data/train/Milhouse-van-Houten/IMG_1801.JPG
data/train/Milhouse-van-Houten/IMG_1802.JPG
data/train/Milhouse-van-Houten/IMG_1803.JPG
data/train/Milhouse-van-Houten/IMG_1805.JPG
data/train/Milhouse-van-Houten/IMG_1806.JPG
data/train/Milhouse-van-Houten/IMG_1808.JPG
data/train/Milhouse-van-Houten/IMG_1809.JPG
data/train/Milhouse-van-Houten/IMG_1810.JPG
data/train/Milhouse-van-Houten/IMG_1812.JPG
data/train/Milhouse-van-Houten/IMG_1813.JPG
data/train/Milhouse-van-Houten/IMG_1814.JPG
data/train/Milhouse-van-Houten/IMG_1815.JPG
data/train/Milhouse-van-Houten/IMG_1817.JPG
data/train/Milhouse-van-Houten/IMG_1818.JPG
data/train/Milhouse-van-Houten/IMG_1819.JPG
data/train/Mr-Burns/IMG_1544.JPG
data/train/Mr-Burns/IMG_1545.JPG
data/train/Mr-Burns/IMG_1547.JPG
data/train/Mr-Burns/IMG_1548.JPG
data/train/Mr-Burns/IMG_1549.JPG
data/train/Mr-Burns/IMG_1550.JPG
data/train/Mr-Burns/IMG_1551.JPG
data/train/Mr-Burns/IMG_1552.JPG
data/train/Mr-Burns/IMG_1553.JPG
data/train/Mr-Burns/IMG_1555.JPG
data/train/Mr-Burns/IMG_1556.JPG
data/train/Mr-Burns/IMG_1557.JPG
data/train/Mr-Burns/IMG_1558.JPG
data/train/Mr-Burns/IMG_1559.JPG
data/train/Mr-Burns/IMG_1561.JPG
data/train/Mr-Burns/IMG_1562.JPG
data/train/Mr-Burns/IMG_1563.JPG
data/train/Mr-Burns/IMG_1564.JPG
data/train/Mr-Burns/IMG_1565.JPG
data/train/Mr-Burns/IMG_1567.JPG
data/train/Mr-Burns/IMG_1568.JPG
data/train/Mr-Burns/IMG_1569.JPG
data/train/Mr-Burns/IMG_1571.JPG
data/train/Mr-Burns/IMG_1572.JPG
data/train/Mr-Burns/IMG_1573.JPG
data/train/Mr-Burns/IMG_1575.JPG
data/train/Mr-Burns/IMG_1576.JPG
data/train/Mr-Burns/IMG_1577.JPG
data/train/Mr-Burns/IMG_1578.JPG
data/train/Mr-Burns/IMG_1579.JPG
data/train/Mr-Burns/IMG_1580.JPG
data/train/Mr-Burns/IMG_1582.JPG
data/train/Mr-Burns/IMG_1583.JPG
data/train/Mr-Burns/IMG_1584.JPG
data/train/Mr-Burns/IMG_1585.JPG
data/train/Mr-Burns/IMG_1587.JPG
data/train/Mr-Burns/IMG_1588.JPG
data/train/Mr-Burns/IMG_1589.JPG
data/train/Mr-Burns/IMG_1590.JPG
data/train/Mr-Burns/IMG_1591.JPG
data/train/Mr-Burns/IMG_1593.JPG
data/train/Mr-Burns/IMG_1594.JPG
data/train/Mr-Burns/IMG_1595.JPG
data/train/Mr-Burns/IMG_1596.JPG
data/train/Mr-Burns/IMG_1597.JPG
data/train/Mr-Burns/IMG_1598.JPG
data/train/Ned-Flanders/IMG_1600.JPG
data/train/Ned-Flanders/IMG_1602.JPG
data/train/Ned-Flanders/IMG_1603.JPG
data/train/Ned-Flanders/IMG_1604.JPG
data/train/Ned-Flanders/IMG_1605.JPG
data/train/Ned-Flanders/IMG_1606.JPG
data/train/Ned-Flanders/IMG_1608.JPG
data/train/Ned-Flanders/IMG_1609.JPG
data/train/Ned-Flanders/IMG_1610.JPG
data/train/Ned-Flanders/IMG_1611.JPG
data/train/Ned-Flanders/IMG_1613.JPG
data/train/Ned-Flanders/IMG_1614.JPG
data/train/Ned-Flanders/IMG_1615.JPG
data/train/Ned-Flanders/IMG_1616.JPG
data/train/Ned-Flanders/IMG_1618.JPG
data/train/Ned-Flanders/IMG_1619.JPG
data/train/Ned-Flanders/IMG_1620.JPG
data/train/Ned-Flanders/IMG_1622.JPG
data/train/Ned-Flanders/IMG_1623.JPG
data/train/Ned-Flanders/IMG_1624.JPG
data/train/Ned-Flanders/IMG_1626.JPG
data/train/Ned-Flanders/IMG_1627.JPG
data/train/Ned-Flanders/IMG_1628.JPG
data/train/Ned-Flanders/IMG_1629.JPG
data/train/Ned-Flanders/IMG_1631.JPG
data/train/Ned-Flanders/IMG_1632.JPG
data/train/Ned-Flanders/IMG_1633.JPG
data/train/Ned-Flanders/IMG_1634.JPG
data/train/Ned-Flanders/IMG_1635.JPG
data/train/Ned-Flanders/IMG_1636.JPG
data/train/Ned-Flanders/IMG_1638.JPG
data/train/Ned-Flanders/IMG_1639.JPG
data/train/Ned-Flanders/IMG_1640.JPG
data/train/Ned-Flanders/IMG_1642.JPG
data/train/Ned-Flanders/IMG_1643.JPG
data/train/Ned-Flanders/IMG_1644.JPG
data/train/Ned-Flanders/IMG_1645.JPG
data/train/Ned-Flanders/IMG_1646.JPG
data/train/Ned-Flanders/IMG_1648.JPG
data/train/Ned-Flanders/IMG_1649.JPG
data/train/Ned-Flanders/IMG_1650.JPG
data/val/Bart-Simpson/IMG_1651.JPG
data/val/Bart-Simpson/IMG_1655.JPG
data/val/Bart-Simpson/IMG_1665.JPG
data/val/Bart-Simpson/IMG_1669.JPG
data/val/Bart-Simpson/IMG_1671.JPG
data/val/Bart-Simpson/IMG_1675.JPG
data/val/Bart-Simpson/IMG_1682.JPG
data/val/Bart-Simpson/IMG_1692.JPG
data/val/Bart-Simpson/IMG_1697.JPG
data/val/Bart-Simpson/IMG_1700.JPG
data/val/Chief-Wiggum/IMG_1709.JPG
data/val/Chief-Wiggum/IMG_1712.JPG
data/val/Chief-Wiggum/IMG_1717.JPG
data/val/Chief-Wiggum/IMG_1721.JPG
data/val/Chief-Wiggum/IMG_1724.JPG
data/val/Chief-Wiggum/IMG_1730.JPG
data/val/Chief-Wiggum/IMG_1737.JPG
data/val/Chief-Wiggum/IMG_1742.JPG
data/val/Chief-Wiggum/IMG_1754.JPG
data/val/Chief-Wiggum/IMG_1764.JPG
data/val/Dr-Hibbert/IMG_1432.JPG
data/val/Dr-Hibbert/IMG_1435.JPG
data/val/Dr-Hibbert/IMG_1439.JPG
data/val/Dr-Hibbert/IMG_1446.JPG
data/val/Dr-Hibbert/IMG_1453.JPG
data/val/Dr-Hibbert/IMG_1459.JPG
data/val/Dr-Hibbert/IMG_1464.JPG
data/val/Dr-Hibbert/IMG_1466.JPG
data/val/Dr-Hibbert/IMG_1472.JPG
data/val/Dr-Hibbert/IMG_1479.JPG
data/val/Homer-Simpsons/IMG_0353.JPG
data/val/Homer-Simpsons/IMG_0359.JPG
data/val/Homer-Simpsons/IMG_0365.JPG
data/val/Homer-Simpsons/IMG_0377.JPG
data/val/Homer-Simpsons/IMG_0403.JPG
data/val/Homer-Simpsons/IMG_0410.JPG
data/val/Homer-Simpsons/IMG_0418.JPG
data/val/Homer-Simpsons/IMG_0421.JPG
data/val/Homer-Simpsons/IMG_0425.JPG
data/val/Homer-Simpsons/IMG_0429.JPG
data/val/Krusty-the-Clown/IMG_1485.JPG
data/val/Krusty-the-Clown/IMG_1490.JPG
data/val/Krusty-the-Clown/IMG_1493.JPG
data/val/Krusty-the-Clown/IMG_1500.JPG
data/val/Krusty-the-Clown/IMG_1507.JPG
data/val/Krusty-the-Clown/IMG_1514.JPG
data/val/Krusty-the-Clown/IMG_1520.JPG
data/val/Krusty-the-Clown/IMG_1525.JPG
data/val/Krusty-the-Clown/IMG_1529.JPG
data/val/Krusty-the-Clown/IMG_1535.JPG
data/val/Lisa-Simpson/IMG_1822.JPG
data/val/Lisa-Simpson/IMG_1826.JPG
data/val/Lisa-Simpson/IMG_1833.JPG
data/val/Lisa-Simpson/IMG_1844.JPG
data/val/Lisa-Simpson/IMG_1851.JPG
data/val/Lisa-Simpson/IMG_1853.JPG
data/val/Lisa-Simpson/IMG_1858.JPG
data/val/Lisa-Simpson/IMG_1862.JPG
data/val/Lisa-Simpson/IMG_1868.JPG
data/val/Lisa-Simpson/IMG_1875.JPG
data/val/Marge-Simpsons/IMG_0339.JPG
data/val/Marge-Simpsons/IMG_0345.JPG
data/val/Marge-Simpsons/IMG_0347.JPG
data/val/Marge-Simpsons/IMG_0367.JPG
data/val/Marge-Simpsons/IMG_0368.JPG
data/val/Marge-Simpsons/IMG_0383.JPG
data/val/Marge-Simpsons/IMG_0387.JPG
data/val/Marge-Simpsons/IMG_0395.JPG
data/val/Marge-Simpsons/IMG_0435.JPG
data/val/Marge-Simpsons/IMG_0442.JPG
data/val/Milhouse-van-Houten/IMG_1770.JPG
data/val/Milhouse-van-Houten/IMG_1776.JPG
data/val/Milhouse-van-Houten/IMG_1784.JPG
data/val/Milhouse-van-Houten/IMG_1791.JPG
data/val/Milhouse-van-Houten/IMG_1797.JPG
data/val/Milhouse-van-Houten/IMG_1800.JPG
data/val/Milhouse-van-Houten/IMG_1804.JPG
data/val/Milhouse-van-Houten/IMG_1807.JPG
data/val/Milhouse-van-Houten/IMG_1811.JPG
data/val/Milhouse-van-Houten/IMG_1816.JPG
data/val/Mr-Burns/IMG_1546.JPG
data/val/Mr-Burns/IMG_1554.JPG
data/val/Mr-Burns/IMG_1560.JPG
data/val/Mr-Burns/IMG_1566.JPG
data/val/Mr-Burns/IMG_1570.JPG
data/val/Mr-Burns/IMG_1574.JPG
data/val/Mr-Burns/IMG_1581.JPG
data/val/Mr-Burns/IMG_1586.JPG
data/val/Mr-Burns/IMG_1592.JPG
data/val/Mr-Burns/IMG_1599.JPG
data/val/Ned-Flanders/IMG_1601.JPG
data/val/Ned-Flanders/IMG_1607.JPG
data/val/Ned-Flanders/IMG_1612.JPG
data/val/Ned-Flanders/IMG_1617.JPG
data/val/Ned-Flanders/IMG_1621.JPG
data/val/Ned-Flanders/IMG_1625.JPG
data/val/Ned-Flanders/IMG_1630.JPG
data/val/Ned-Flanders/IMG_1637.JPG
data/val/Ned-Flanders/IMG_1641.JPG
data/val/Ned-Flanders/IMG_1647.JPG
